/**
* * Hero
*/
.hero {
    position: relative;
    text-align: center;
    height: 100vh;
    overflow: hidden;

    .hero__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .hero__heading {
            margin-bottom: 50px;
        }
    }
}

/**
* * Projects
*/
.projects {
    padding: 15rem 0;
    text-align: center;
    background-color: #f9f9f9;

    .projects__subheading {
        margin-bottom: 10px;
    }
}

/**
* * About
*/
.about {
    border-top: 1px solid lightgray;
    padding: 15rem 0;
    text-align: center;
    background-color: #f9f9f9;

    .about__inner {
        max-width: 60rem;
        margin: 0 auto;
    }

    .about__subheading {
        margin-bottom: 10px;
    }

    .about__heading {
        margin-bottom: 40px;
    }
}