/**
* * Hero
*/
.hero {
    position: relative;
    text-align: center;
    height: 100vh;
    overflow: hidden;

    .hero__inner {
        position: absolute;
        max-width: 700px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .hero__heading {
            margin-bottom: 20px;

            span {
                color: #b3ff8b;
            }
        }

        .hero__description {
            margin-bottom: 40px;
            color: #d0d0d0;
        }
    }
}

/**
* * Projects
*/
.projects {
    padding-top: 5rem;
    padding-bottom: 10rem;
    text-align: center;

    .projects__subheading {
        margin-bottom: 10px;
    }
}

/**
* * About
*/
.about {
    padding: 10rem 0;
    text-align: center;

    .about__inner {
        max-width: 60rem;
        margin: 0 auto;
    }

    .about__subheading {
        margin-bottom: 10px;
    }

    .about__heading {
        margin-bottom: 40px;
    }
}