/**
* * Header
*/
.header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    transition: .5s;

    .header__nav ul {
        height: 60px;
        display: flex;
        width: 70%;
        margin: 0 auto;
        align-items: center;
        
        li {
            max-width: 25%;
            flex: 0 0 25%;
            height: 60px;
        }
        
        a {
            justify-content: center;
            padding: 0 15px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        a:hover {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
        }
    }
}

.header.scroll-color {
    background-color: #fff;
    box-shadow: 0 5px 5px rgb(197, 197, 197)
}