/**
* * Header
*/
.header {
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(197, 197, 197);
    width: 100%;
    z-index: 1;
    transition: .5s;

    .header__nav ul {
        height: 80px;
        display: flex;
        width: 70%;
        margin: 0 auto;
        align-items: center;
        
        li {
            max-width: 25%;
            flex: 0 0 25%;
            height: 80px;
        }
        
        a {
            position: relative;
            justify-content: center;
            padding: 0 15px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        a:after {
            content: '';
            position: absolute;
            background-color: #55bece;
            height: 3px;
            width: 0;
            left: 0;
            bottom: 0;
            transition: .3s;
        }

        a:hover:after {
            width: 100%;
        }
    }

    .header__nav ul li.active {
        a:after {
            width: 100%;
        }
    }
}