/**
* * Footer
*/
.footer {
    padding-top: 12rem;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(45deg, #009180, #26ac7b);

    .footer__form {
        margin-bottom: 80px;
        padding-bottom: 10rem;
    }

    .footer__nav {
        border-top: 1px solid #ededed;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;

        .footer__copyright {
            color: #ededed;
        }

        .footer__socials {
            a {
                color: #ededed;
                transition: .2s;
            }

            a + a {
                margin-left: 10px;
            }
        }
    }
}

/**
* * Form
*/
.form {
    text-align: center;

    .form__subheading {
        margin-bottom: 40px;

        h2 {
            color: #ededed;
        }

        h2:after {
            position: absolute;
            content: '';
            display: block;
            bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
            width: 90px;
            height: 3px;
            background-color: #ededed;
        }
    }

    .form__heading {
        margin-bottom: 80px;
        color: #fff;
    }

    .form__body {
        margin-bottom: 20px;
    }

    .form__row {
        display: flex;
    }

    .form__field {
        width: 100%;
    }

    .form__field + .form__field {
        margin-left: 20px;
    }

    .form__row + .form__row {
        margin-top: 20px;
    }

    .form__actions {
        margin-top: 50px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 18px;
        border: 1px solid #626262;
        background-color: #efefef;
        color: #000000;
        transition: .2s;
        letter-spacing: 1px;
    }

    input:focus, textarea:focus {
        border: 1px solid #efefef;
    }

    textarea {
        resize: none;
    }
}